page-login {
.back1{
    background-image: url(../../assets/imgs/Hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.ta1{
    background-color: rgba(51, 38, 38, 0.383);
    color: white;
    
}
.but{
    color: white;
}
}
