page-register {
.butt{
    color: rgb(238, 232, 221);
}
.tax{
    background-color: rgba(144, 148, 151, 0.048);
    color: white;
    
}
.back1{
    background-image: url(../../assets/imgs/Hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.ta1{
    background-color: rgba(144, 148, 151, 0.048);
    color: rgb(46, 43, 43);
    
}
}
